html,
body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 250px;
}

header {
  padding: 8px;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 20px;
}

header a {
  color: #888888;
  margin-right: 16px;
  text-decoration: none;
}

main {
  padding: 8px;
  width: fit-content;
  margin: 0 auto;
}

footer {
  position: absolute;
  bottom: 0;
  padding: 12px;
  border-top: 1px solid #eeeeee;
  width: 100%;
  color: #888888;
}

footer span {
  display: block;
  margin: 0 auto;
  width: fit-content;
}
